// @use '../custom' as *;

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin transitionProps {
    transition-duration: 500ms;
    transition-property: all;
}